@font-face {
 font-family: "Open Sans";
 font-style: normal;
 font-weight: 400;
 font-stretch: 100%;
 src: url(../fonts/font.woff2) format("woff2");
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
  U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
 font-family: "Open Sans";
 font-style: normal;
 font-weight: 600;
 font-stretch: 100%;
 src: url(../fonts/font.woff2) format("woff2");
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
  U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
 font-family: "Open Sans";
 font-style: normal;
 font-weight: 700;
 font-stretch: 100%;
 src: url(../fonts/font.woff2) format("woff2");
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
  U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
 font-family: "Open Sans";
 font-style: normal;
 font-weight: 800;
 font-stretch: 100%;
 src: url(../fonts/font.woff2) format("woff2");
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
  U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
 font-family: FontAwesome;
 src: url(../fonts/icons.woff?v=4.0.3) format("woff");
 font-weight: 400;
 font-style: normal;
}
.fa {
 display: inline-block;
 font-family: FontAwesome;
 font-style: normal;
 font-weight: 400;
 line-height: 1;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
.fa-leaf:before {
 content: "\f06c";
}
.fa-cogs:before {
 content: "\f085";
}
.fa-twitter:before {
 content: "\f099";
}
.fa-facebook:before {
 content: "\f09a";
}
.fa-wrench:before {
 content: "\f0ad";
}
.fa-linkedin:before {
 content: "\f0e1";
}
body {
 background: #222;
 font-family: "Open Sans", sans-serif !important;
 line-height: 1.65em;
 margin: 0;
}
.w1 {
 background-size: cover;
 background: #222 url(../images/banner.jpg) no-repeat;
 padding: 0;
}
.w2 {
 padding: 4em 0 2em 0;
 background: #f2f2f2;
}
.w2 h3 {
 display: block;
 margin-bottom: 1em;
 letter-spacing: 1px;
 line-height: 1.4em;
 text-transform: uppercase;
 font-size: 1.6em;
 font-weight: 400;
}
.w3 {
 padding: 4em 0 2em 0;
 padding-bottom: 4em;
 background: #82b440;
 text-align: center;
 color: #fff;
}
.w3 .container {
 padding-left: 6em;
 padding-right: 6em;
}
.w3 p {
 font-size: 1.6em;
}
.w4 {
 padding: 4em 0 2em 0;
 background: #fff;
}
a {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 vertical-align: baseline;
}
h1 {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 vertical-align: baseline;
}
h2 {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 vertical-align: baseline;
}
h3 {
 margin: 0;
 padding: 0;
 border: 0;
 vertical-align: baseline;
}
header {
 margin: 0;
 padding: 0;
 border: 0;
 vertical-align: baseline;
}
li {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 vertical-align: baseline;
}
nav {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 vertical-align: baseline;
}
p {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 vertical-align: baseline;
}
span {
 margin: 0;
 border: 0;
 vertical-align: baseline;
}
ul {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 vertical-align: baseline;
}
header {
 display: block;
}
nav {
 display: block;
}
section {
 display: block;
}
ul {
 list-style: none;
}
* {
 box-sizing: border-box;
}
.container {
 margin-left: auto;
 margin-right: auto;
 width: 80%;
}
.\31 2u {
 width: 100%;
}
.\31 1u {
 width: 91.6666666667%;
}
.\31 0u {
 width: 83.3333333333%;
}
.\39 u {
 width: 75%;
}
.\38 u {
 width: 66.6666666667%;
}
.\37 u {
 width: 58.3333333333%;
}
.\36 u {
 width: 50%;
}
.\35 u {
 width: 41.6666666667%;
}
.\34 u {
 width: 33.3333333333%;
}
.\33 u {
 width: 25%;
}
.\32 u {
 width: 16.6666666667%;
}
.\31 u {
 width: 8.3333333333%;
}
.\-11u {
 margin-left: 91.6666666667%;
}
.\-10u {
 margin-left: 83.3333333333%;
}
.\-9u {
 margin-left: 75%;
}
.\-8u {
 margin-left: 66.6666666667%;
}
.\-7u {
 margin-left: 58.3333333333%;
}
.\-6u {
 margin-left: 50%;
}
.\-5u {
 margin-left: 41.6666666667%;
}
.\-4u {
 margin-left: 33.3333333333%;
}
.\-3u {
 margin-left: 25%;
}
.\-2u {
 margin-left: 16.6666666667%;
}
.\-1u {
 margin-left: 8.3333333333%;
}
.row > * {
 float: left;
}
.row:after {
 content: "";
 display: block;
 clear: both;
 height: 0;
}
.row:first-child > * {
 padding-top: 0 !important;
}
.row > * {
 padding-left: 40px;
}
.row + .row > * {
 padding: 40px 0 0 40px;
}
.row {
 margin-left: -40px;
}
.row.flush > * {
 padding-left: 0;
}
.row + .row.flush > * {
 padding: 0;
}
.row.flush {
 margin-left: 0;
}
.row.quarter > * {
 padding-left: 10px;
}
.row + .row.quarter > * {
 padding: 10px 0 0 10px;
}
.row.quarter {
 margin-left: -10px;
}
.row.half > * {
 padding-left: 20px;
}
.row + .row.half > * {
 padding: 20px 0 0 20px;
}
.row.half {
 margin-left: -20px;
}
.row.oneandhalf > * {
 padding-left: 60px;
}
.row + .row.oneandhalf > * {
 padding: 60px 0 0 60px;
}
.row.oneandhalf {
 margin-left: -60px;
}
.row.double > * {
 padding-left: 80px;
}
.row + .row.double > * {
 padding: 80px 0 0 80px;
}
.row.double {
 margin-left: -80px;
}
a {
 color: #82b440;
 text-decoration: underline;
}
b {
 font-weight: 700;
}
strong {
 font-weight: 700;
}
em {
 font-style: italic;
}
i {
 font-style: italic;
}
blockquote {
 margin: 0 0 2em 0;
}
dl {
 margin: 0 0 2em 0;
}
ol {
 margin: 0 0 2em 0;
}
p {
 margin: 0 0 2em 0;
}
table {
 margin: 0 0 2em 0;
}
ul {
 margin: 0 0 2em 0;
}
p {
 line-height: 1.8em;
}
p.medium {
 font-size: 1.4em;
}
h1 {
 color: inherit;
 text-decoration: none;
}
h2 {
 color: inherit;
 text-decoration: none;
}
h3 {
 color: inherit;
 text-decoration: none;
}
h4 {
 color: inherit;
 text-decoration: none;
}
h5 {
 color: inherit;
 text-decoration: none;
}
h6 {
 color: inherit;
 font-weight: 700;
}
h1 a {
 color: inherit;
 text-decoration: none;
}
h2 a {
 color: inherit;
 text-decoration: none;
}
h3 a {
 color: inherit;
 text-decoration: none;
}
h4 a {
 color: inherit;
 text-decoration: none;
}
h5 a {
 color: inherit;
 text-decoration: none;
}
h6 a {
 color: inherit;
 text-decoration: none;
}
h2 {
 font-size: 1.5em;
}
sub {
 font-size: 0.8em;
 position: relative;
 top: 0.5em;
}
sup {
 font-size: 0.8em;
 position: relative;
 top: -0.5em;
}
hr {
 border-top: solid 1px #82b440;
 border: 0;
 margin-bottom: 1.5em;
}
blockquote {
 border-left: solid 0.5em #82b440;
 font-style: italic;
 padding: 1em 0 1em 2em;
}
article.special {
 text-align: center;
}
section.special {
 text-align: center;
}
header.major {
 padding-bottom: 2em;
 text-align: center;
 text-transform: uppercase;
}
header.major h2 {
 font-size: 2.6em;
 font-weight: 700;
}
header.major .byline {
 display: block;
 padding-top: 1em;
 letter-spacing: 1px;
 font-size: 1.4em;
}
ul.icons {
 cursor: default;
 padding-bottom: 0;
}
ul.icons li {
 display: inline-block;
 line-height: 1em;
 padding: 0.5em 1em;
}
ul.icons li:first-child {
 padding-left: 0;
}
ul.icons li span {
 display: none;
}
ul.icons li a {
 text-decoration: none;
 font-size: 2em;
 color: inherit;
 opacity: 0.2;
 -moz-transition: all 0.35s ease-in-out;
 -webkit-transition: all 0.35s ease-in-out;
 -o-transition: all 0.35s ease-in-out;
 -ms-transition: all 0.35s ease-in-out;
 transition: all 0.35s ease-in-out;
}
ul.icons li a:hover {
 color: inherit;
 opacity: 1;
}
ul.actions {
 cursor: default;
}
ul.actions:last-child {
 margin-bottom: 0;
}
ul.actions li {
 display: inline-block;
 padding: 0 0 0 1.5em;
}
ul.actions li:first-child {
 padding: 0;
}
ul.actions.vertical li {
 display: block;
 padding: 1.5em 0 0 0;
}
ul.actions.vertical li:first-child {
 padding: 0;
}
ul.special-icons {
 margin: 0;
 padding: 0;
}
ul.special-icons > li {
 position: relative;
 padding: 0.5em 0 0.5em 0;
}
ul.special-icons > li:before {
 position: absolute;
 left: 0;
 top: 2em;
 display: block;
 background: 0 0;
 font-size: 2em;
 border-radius: 5px;
}
ul.special-icons > li:first-child {
 border-top: none;
}
ul.special-icons h3 {
 margin-bottom: 0.8em;
 line-height: 2em;
 text-transform: uppercase;
 font-weight: 700;
 font-size: 1.2em;
}
ul.special-icons span {
 line-height: 190%;
}
ul.special-icons .fa {
 float: left;
 padding-right: 1em;
 font-size: 1.4em;
 color: #82b440;
}
ul.special-icons p {
 padding-left: 2.7em;
}
table {
 width: 100%;
}
table.default {
 width: 100%;
}
table.default tbody tr {
 border-bottom: solid 1px #82b440;
}
table.default td {
 padding: 0.5em 1em 0.5em 1em;
}
table.default th {
 font-weight: 700;
 padding: 0.5em 1em 0.5em 1em;
 text-align: left;
}
table.default thead {
 background: #555;
 color: #fff;
}
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
 -moz-appearance: none;
 -webkit-appearance: none;
 -o-appearance: none;
 -ms-appearance: none;
 appearance: none;
 background: 0 0;
 border-radius: none;
 border: 2px solid;
 border-color: #82b440;
 color: #82b440;
 cursor: pointer;
 display: inline-block;
 padding: 0.9em 1.2em;
 letter-spacing: 1px;
 text-align: center;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 1.4em;
 -moz-transition: all 0.35s ease-in-out;
 -webkit-transition: all 0.35s ease-in-out;
 -o-transition: all 0.35s ease-in-out;
 -ms-transition: all 0.35s ease-in-out;
 transition: all 0.35s ease-in-out;
}
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
 background: #82b440;
 color: #fff;
}
.button.alt,
input[type="button"].alt,
input[type="reset"].alt,
input[type="submit"].alt {
 border-color: inherit;
 color: inherit;
}
.button.alt:hover,
input[type="button"].alt:hover,
input[type="reset"].alt:hover,
input[type="submit"].alt:hover {
 background: #fff;
 color: #82b440;
}
.button.fit,
input[type="button"].fit,
input[type="reset"].fit,
input[type="submit"].fit {
 width: 100%;
}
.button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small {
 font-size: 0.8em;
}
#header {
 color: #fff;
 height: 4em;
 background: rgba(0, 0, 0, 0.5);
}
#header .container {
 position: relative;
}
.homepage #logo {
 display: none;
}
.homepage #nav {
 position: static;
 right: none;
 text-align: center;
}
#logo {
 line-height: 2em;
 letter-spacing: 2px;
 text-transform: uppercase;
 font-size: 2em;
 font-weight: 400;
}
#logo h1 {
 display: inline-block;
 margin: 0;
 padding: 0;
}
#logo a {
 color: inherit;
}
#nav {
 position: absolute;
 top: 0;
 right: 0;
}
#nav > ul {
 margin: 0;
}
#nav > ul > li {
 border-radius: 4px;
 display: inline-block;
 margin-left: 0.5em;
 padding: 0 0.5em;
}
#nav > ul > li a {
 color: inherit;
 line-height: 4em;
 letter-spacing: 2px;
 text-decoration: none;
 text-transform: uppercase;
 font-weight: 400;
 font-size: 1em;
}
#nav > ul > li:first-child {
 margin-left: 0;
}
#nav > ul > li.active a {
 color: #fff;
}
#nav > ul > li > ul {
 display: none;
}
.dropotron {
 top: 2em;
 background: rgba(32, 32, 32, 0.75);
 border-radius: 4px;
 color: inherit;
 min-width: 12em;
 padding: 1em 0;
 color: #fff;
}
.dropotron > li {
 line-height: 2em;
 padding: 0 1em;
}
.dropotron > li > a {
 color: inherit;
 letter-spacing: 2px;
 text-decoration: none;
 text-transform: uppercase;
}
.dropotron > li.active > a {
 color: inherit;
}
.dropotron > li:hover > a {
 color: inherit;
}
.dropotron.level-0 {
 border-radius: 0 0 4px 4px;
 font-size: 1em;
 margin-left: -0.5em;
}
#banner {
 padding: 6em 0 3em 0;
 text-align: center;
 text-transform: uppercase;
 color: #fff;
}
#banner .container {
 padding: 0 8em;
}
#banner h2 {
 display: inline-block;
 padding: 0.5em 0.3em;
 background: #82b440;
 font-size: 3em;
 font-weight: 400;
}
#banner span {
 display: block;
 letter-spacing: 1px;
 text-transform: uppercase;
 font-size: 1.6em;
 font-weight: 300;
}
#banner span {
 padding: 1em 0;
}
#footer {
 padding: 3em 0 0.5em 0;
 text-align: center;
 color: #fff;
}
#footer hr {
 border-bottom: 1px solid;
 border-color: inherit;
 opacity: 0.05;
}
#footer .major h2 {
 color: inherit;
}
#footer .major .byline {
 color: inherit;
 opacity: 0.4;
}
#copyright {
 position: relative;
 text-transform: uppercase;
 text-align: center;
 color: inherit;
 opacity: 0.4;
}
/* MOBILE */
@media (max-aspect-ratio: 2/3) {
 body {
  font-size: 200% !important;
 }
 h2 {
  font-weight: 700;
 }
 header.major h2 {
  font-size: 1.8em;
 }
 header.major .byline {
  font-size: 1.1em;
 }
 .button,
 input[type="button"],
 input[type="reset"],
 input[type="submit"] {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 600;
 }
 .w2 {
  text-align: center;
  padding-bottom: 5em;
 }
 .w3 .container {
  padding-left: 1em;
  padding-right: 1em;
 }
 .w3 p {
  font-size: 1em;
 }
 .w4 {
  padding-bottom: 2em;
 }
 #header {
  display: none;
 }
 #titleBar {
  background: #000;
  position: fixed;
  top: 0px;
  width: 100%;
 }
 #titleBar .title {
  display: block;
  position: relative;
  letter-spacing: 2px;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
 }
 #titleBar .toggle {
  position: absolute;
 }
 #titleBar .toggle:before {
  content: "\f0c9";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  text-transform: none !important;
  background: 0 0;
  color: #fff;
  display: block;
  text-align: center;
  width: 44px;
 }
 #titleBar .toggle:after {
  content: "";
  display: block;
  left: 10px;
  opacity: 0.75;
  position: absolute;
  top: 15px;
  width: 20px;
 }
 #banner .container {
  padding: 0 1em;
 }
 #banner h2 {
  padding: 0.5em 0.5em;
 }
 #banner p {
  font-size: 1.1em;
 }
 header.major h2 {
  font-size: 1.6em;
 }
 header.major .byline {
  font-size: 1.1em;
 }
 .w4 p {
  margin-bottom: 1em;
 }
 ul.icons li a {
  font-size: 1.6em;
 }
 .container {
  width: 90%;
 }
 .row > * {
  padding-left: 15px;
 }
 .row.flush > * {
  padding-left: 0;
 }
 .row.flush {
  margin-left: 0;
 }
 .row.double > * {
  padding-left: 30px;
 }
 .row > * {
  padding-left: 15px !important;
 }
 .row > *:first-child {
  padding-top: 0 !important;
 }
 .row {
  margin-left: -15px !important;
 }
 .row:not(.no-collapse):not(.no-collapse-1):not(.no-collapse-2):not(
   .no-collapse-3
  )
  > * {
  float: none !important;
  width: 100% !important;
  margin-left: 0 !important;
 }
 .row:not(.flush):not(.no-collapse):not(.no-collapse-1):not(
   .no-collapse-2
  ):not(.no-collapse-3):first-child
  > * {
  padding-top: 15px !important;
 }
 .row:not(.no-collapse):not(.no-collapse-1):not(.no-collapse-2):not(
   .no-collapse-3
  ):first-child
  > :first-child {
  padding-top: 0 !important;
 }
 .row:not(.no-collapse):not(.no-collapse-1):not(.no-collapse-2):not(
   .no-collapse-3
  )
  > * {
  padding-top: 15px;
 }
 .row:not(.no-collapse):not(.no-collapse-1):not(.no-collapse-2):not(
   .no-collapse-3
  )
  > *:first-child {
  padding-top: 0;
 }
 .row.flush > * {
  padding: 0 !important;
 }
 .row.flush {
  margin-left: 0px !important;
 }
}
